apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'producer'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['producer:8080']
      - job_name: 'consumer'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['consumer:8080']
      - job_name: 'requests'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['requests:8080']
      - job_name: 'rabbitmq'
        metrics_path: '/metrics'
        static_configs:
          - targets: ['rabbitmq:15692']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
      volumes:
        - name: config
          configMap:
            name: prometheus-config
